﻿@using Microsoft.AspNetCore.Identity
@using IMIS_DataEntity.Data

@inject SignInManager<IMISUser> SignInManager
@inject UserManager<IMISUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            background: #dfe7e9;
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            font-size: 16px;
        }

            .form-control:focus {
                border-color: #5cb85c;
            }

        .form-control, .btn {
            border-radius: 50px;
            outline: none !important;
        }

        .login-form {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .login-form form {
                border-radius: 5px;
                margin-bottom: 20px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 40px 50px;
            }

            .login-form .btn {
                font-size: 18px;
                line-height: 26px;
                font-weight: bold;
                text-align: center;
            }

        .social-btn .btn {
            color: #fff;
            margin: 10px 0;
            font-size: 15px;
            border-radius: 50px;
            text-indent: 10px;
            font-weight: normal;
            border: none;
            text-align: center;
        }

            .social-btn .btn:hover {
                opacity: 0.9;
            }

        .social-btn .btn-primary {
            background: #507cc0;
        }

        .social-btn .btn-info {
            background: #64ccf1;
        }

        .social-btn .btn-danger {
            background: #df4930;
        }

        .social-btn .btn i {
            margin-right: 9px;
            font-size: 20px;
            min-width: 25px;
            position: relative;
            top: 2px;
        }

        .or-seperator {
            margin: 50px 0 15px;
            text-align: center;
            border-top: 1px solid #e0e0e0;
        }

            .or-seperator b {
                padding: 0 10px;
                width: 40px;
                height: 40px;
                font-size: 16px;
                text-align: center;
                line-height: 40px;
                background: #fff;
                display: inline-block;
                border: 1px solid #e0e0e0;
                border-radius: 50%;
                position: relative;
                top: -22px;
                z-index: 1;
            }

        .login-form a {
            color: #5cb85c;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <div class="wrapper">
            <!-- main starts -->
            <main role="main">
                @RenderBody()
            </main>
            <!-- main ends -->
        </div>
    </div>
</body>
</html>                            