﻿@*@inject MSP_Service.Menu.MenuService _menuService*@
 
@{
    var mainlist = await _menuService.menuVM();

    if (mainlist.Count > 0)
    {
        @for (int i = 0; i < mainlist.Count; i++)
        {
            <li class="treeview">
                <a href="#">
                    <i class="@mainlist[i].Icon"></i> <span>@mainlist[i].DisplayName</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                @{
                    // var submenulist = await _menuService.MspSubMenu(mainlist[i].Id);
                    if (mainlist[i].MenuSubMenu.Count > 0)
                    {
                        <ul class="treeview-menu">

                            @for (int j = 0; j < mainlist[i].MenuSubMenu.Count; j++)
                            {
                                var menu = mainlist[i].MenuSubMenu[j].MenuUrl;

                                <li><a href="~/@mainlist[i].MenuSubMenu[j].MenuUrl"><i class="@mainlist[i].MenuSubMenu[j].Icon"></i>@mainlist[i].MenuSubMenu[j].DisplayName @*<span class="label label-primary pull-right">4</span>*@</a></li>

                            }

                        </ul>
                    }

                }
            </li>
        }
    } }
